@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700&display=swap');

:root{
    --31c: #31C3BD;
    --65e: #65E9E4;
    --f2b: #F2B137;
    --ffc: #FFC860;
    --1a2: #1A2A33;
    --1f3: #1F3641;
    --a8b: #A8BFC9;
    --dbe: #DBE8ED;
    /* margin */

}

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    user-select: none;
    transition: 0s;
}

button{
    outline: 0;
    border: 0;
}

html,body,#root{
    width: 100%;
    height: 100%;
}

body{
    font-family: 'Outfit', sans-serif ;
    background-color: var(--1a2);
}




.o,.x{
    position: relative;
}

/* o positon code */
.o::before, ._o::before, .o::after , ._o::after{
    content: "";
    position: absolute;
    border-radius: 50%;
}

._o::before,.o::before{
    width: 64px;
    height: 64px;
}

._o::after,.o::after{
    width: 26.07px;
    height: 26.07px;
}

.o:not(.match)::before{
    background-color: var(--f2b);
}

.o:not(.match)::after{
    background-color: var(--1f3);
    z-index: 1;
}

.o.match::after{
    background-color: var(--f2b);
}

.o.match::before{
    background-color: var(--1f3);
}

._o:hover::after,._o:hover::before{
    background-color: var(--1f3);
    border: 2px solid var(--f2b);
}

/* x position code */

.x::after,._x::after,.x::before,._x::before{
    content: "";
    position: absolute;
    width: 64px;
    height: 18px;
    border-radius: 2px;
}


.x::after,._x::after{
    transform: rotate(-45deg);
}
.x::before,._x::before{
    transform: rotate(45deg);
}

.x:not(.match)::after,.x:not(.match)::before{
    background-color: var(--31c);
}

.x.match::after,.x.match::before{
    background-color: var(--1f3);
}

._x:hover::after,._x:hover::before{
    background-color: var(--1f3);
    border: 2px solid var(--31c);
}

._x:hover > span {
    position: absolute;
    width: 60px;
    height: 14px;
    transform: rotate(45deg);
    z-index: 3;
    align-content: center;
    background: var(--1f3);
}



@media (max-width: 431px){
    ._o::before,.o::before{
        width: 40px;
        height: 40px;
    }
    
    ._o::after,.o::after{
        width: 16.3px;
        height: 16.3px;
    }
}


@keyframes showMenu{

    0%{
        transform: scale(0);
    }
    80%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }

}
