@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700&display=swap');

:root{
    --31c: #31C3BD;
    --65e: #65E9E4;
    --f2b: #F2B137;
    --ffc: #FFC860;
    --1a2: #1A2A33;
    --1f3: #1F3641;
    --a8b: #A8BFC9;
    --dbe: #DBE8ED;
    /* margin */

}

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    user-select: none;
    transition: 0s;
}

button{
    outline: 0;
    border: 0;
}

html,body,#root{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body{
    font-family: 'Outfit', sans-serif ;
    background-color: var(--1a2);
}


.x,.o,._o:hover,._x:hover{
    background-size: 64px;
    background-position: center;
    background-repeat: no-repeat;
}

.o:not(.match){
    background-image: url('./Resources/svg/o.svg');
}


.o.match{
    background-image: url('./Resources/svg/o_match.svg');
}

._o:hover{
    background-image: url('./Resources/svg/o_hover.svg');
}


.x:not(.match){
    background-image: url('./Resources/svg/x.svg');
}

.x.match{
    background-image: url('./Resources/svg/x_match.svg');
}

._x:hover{
    background-image: url('./Resources/svg/x_hover.svg');
}


@media (max-width: 431px){
    .x,.o,._o:hover,._x:hover{
        background-size: 40px;
    }
    
}


@keyframes showMenu{

    0%{
        transform: scale(0);
    }
    80%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }

}
